@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');

:root {
    --container-color: #FFFF00;
    --font-primary-color: #0A0A0A;
    --font-secondary-color: #FF0000;
}

* {
    font-family: 'Poppins', sans-serif;
    scroll-behavior: smooth;
}

body {
    align-items: center;
    display: flex;
    height: 100vh;
    justify-content: center;
    padding: 0;
    margin: 0;
    /* margin: 0;
    padding: 0;
    width: 300px;
    height: 100vh;
    position: fixed;
    top: 0;
    right: 0;
    border-left: 1px solid #ccc;
    z-index: 9999;
    display: flex;
    justify-content: center;
    align-items: center; */

}

.main-container {
    width: 500px;
    max-height: 200vh;
    background-color: var(--container-color);
    border-radius: 10px;
    overflow-y: auto;
    padding: 30px;
}

.top-container {
    height: auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding: 10px;
    margin-top: 50px;
    border-bottom: 2px solid var(--font-secondary-color);
}

.top-heading {
    font-weight: bold;
    padding: 20px;
    font-size: 40px;
}

.logo {
    height: 75px;
    width: 75px;
    padding: 20px;
    object-fit: cover;
    border-radius: 50%;
}

.switch-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.switch-heading {
    color: var(--font-secondary-color);
    font-size: 20px;
}

input[type=checkbox] {
    height: 0;
    width: 0;
    visibility: hidden;
}

label {
    background: #D3D3D3;
    border-radius: 100px;
    cursor: pointer;
    display: inline;
    height: 30px;
    position: relative;
    text-indent: -9999px;
    width: 80px;
}

label::after {
    background: #FFFFFF;
    border-radius: 90px;
    content: '';
    height: 30px;
    left: 0px;
    position: absolute;
    top: 0px;
    transition: 0.5s;
    width: 30px;
}

input:checked + label {
    background-color: var(--font-secondary-color);
}

input:checked + label::after {
    left: calc(100% - 0px);
    transform: translateX(-100%);
}

label:active:after {
    width: 80px;
}

#voice-combobox,
#language-combobox {
    border: 1px solid #FFFFFF;
    border-radius: 4px;
    font-size: 16px;
    color: var(--font-primary-color);
    background-color: #FFFFFF;
    transition: all 0.2s ease-in-out;
    cursor: pointer;
    width: 80px;
    height: 30px;
    appearance: none;
    text-align: center;
}

#voice-combobox:hover,
#language-combobox:hover {
    outline: 1px solid var(--font-secondary-color);
    box-shadow: 0 0 3px var(--font-secondary-color);
}

#voice-combobox:focus,
#language-combobox:focus {
    outline: 1px solid var(--font-secondary-color);
    box-shadow: 0 0 3px var(--font-secondary-color);
}

#voice-combobox option,
#language-combobox option {
    padding: 8px 16px;
    color: var(--font-primary-color);
    background-color: #FFFFFF;
    cursor: pointer;
}

#voice-combobox option:hover,
#language-combobox option:hover {
    background-color: #FFFFFF;
}

#voice-combobox option:active,
#voice-combobox option:selected,
#language-combobox option:active,
#language-combobox option:selected {
    background-color: var(--font-secondary-color);
    color: #FFFFFF;
}

.switch-two-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    border-bottom: 2px solid var(--font-secondary-color);
}

.slider-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.slider-heading {
    color: var(--font-secondary-color);
    font-size: 20px;
}

.slider {
    width: 100%;
    height: 15px;
    border-radius: 5px;
    background: #ff0000;
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
}

input[type="range"] {
    -webkit-appearance: none;
     appearance: none;
     background: transparent;
     cursor: pointer;
     width: 100%;
 }
 
 input[type="range"]:focus {
   outline: none;
 }
 
 input[type="range"]::-webkit-slider-runnable-track {
    background-color: #3c3c3c;
    border-radius: 0.5rem;
    height: 0.5rem;  
 }
 
 input[type="range"]::-webkit-slider-thumb {
   -webkit-appearance: none;
    appearance: none;
    margin-top: -12px;
 
    background-color: var(--font-secondary-color);
    height: 2rem;
    width: 2rem;
    border-radius: 100%;
 }
 
 input[type="range"]:focus::-webkit-slider-thumb {   
   border: 1px solid var(--font-secondary-color);
   outline: 3px solid var(--font-secondary-color);
   outline-offset: 0.125rem; 
 }